body{
    font-size: 16px;
    color: #fff;
    background-color: #005544;
    font-family: 'Oxygen', sans-serif;
}

/** header **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1{
    font-family: 'Lora', serif;
    color: rgb(24, 5, 94);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(136, 143, 38);
    margin-top: 0;
    margin-left: 10px;
    text-decoration: none;
}

#collapsable-nav{
    font-variant: small-caps;
    text-align: center;
}
#men-1, #men-2, #men-3{
    background-color: blanchedalmond;
    color: black;
}



/* Body */
#body-header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sec {
    border: 1px rgb(71, 5, 5);
}
#par-1{
    height: 1000px;
    background-color: maroon;   
    box-shadow: 5px 5px 5px #888888;
    margin: 30px 30px 30px;

}
#par-2{
    height: 1000px;
    background-color: blue;
    box-shadow: 5px 5px 5px #888888;
    margin: 30px 30px 30px;
}
#par-3{
    height: 1000px;
    background-color: purple;
    box-shadow: 5px 5px 5px #888888;
    margin: 30px 30px 30px;

}
#par-1-head{
    position: relative;
    top: 10px;    
    text-align: center;
    font: caption;
    font-weight: bold;
    font-variant: small-caps;
}
#par-2-head{
    position: relative;
    top: 10px;    
    text-align: center;
    font: caption;
    font-weight: bold;
    font-variant: small-caps;
}
#par-3-head{
    position: relative;
    top: 10px;    
    text-align: center;
    font: caption;
    font-weight: bold;
    font-variant: small-caps;
}
#go-to{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}